In [1]:
import pandas as pd
import numpy as np

from info_apoio import columns_null

# Lendo os dados:

In [2]:
base = pd.read_csv("DADOS\dado_mg.csv", 
                   sep=';'
                   )
base.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,1,...,B,A,A,B,A,A,C,B,B,B
1,190001237803,2019,3170206,Uberlândia,31,MG,30.0,F,1,2,...,A,A,A,B,A,A,B,A,A,A
2,190001237804,2019,3124104,Esmeraldas,31,MG,27.0,M,1,3,...,A,A,A,B,A,B,C,A,A,A
3,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,22.0,F,1,1,...,B,A,B,C,B,A,E,A,B,B
4,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,23.0,F,1,4,...,B,A,A,B,B,A,C,A,B,B

In [3]:
base_object =  base.select_dtypes('object') # Selecionando apenas as colunas com dados do tipo 'object'

Da mesma maneira usada no caso numerico, a função abaixo ira retornar a coluna e a quantidade de valores diferentes da mesma.

In [4]:
for x in base_object.columns:
    print(x, len(base_object[x].value_counts()))

NO_MUNICIPIO_RESIDENCIA 1483
SG_UF_RESIDENCIA 26
TP_SEXO 2
NO_MUNICIPIO_NASCIMENTO 3083
SG_UF_NASCIMENTO 27
NO_MUNICIPIO_ESC 994
SG_UF_ESC 22
NO_MUNICIPIO_PROVA 188
SG_UF_PROVA 1
TX_RESPOSTAS_CN 390643
TX_RESPOSTAS_CH 410534
TX_RESPOSTAS_LC 410820
TX_RESPOSTAS_MT 390660
TX_GABARITO_CN 6
TX_GABARITO_CH 4
TX_GABARITO_LC 4
TX_GABARITO_MT 7
Q001 8
Q002 8
Q003 6
Q004 6
Q006 17
Q007 4
Q008 5
Q009 5
Q010 5
Q011 5
Q012 5
Q013 5
Q014 5
Q015 5
Q016 5
Q017 5
Q018 2
Q019 5
Q020 2
Q021 2
Q022 5
Q023 2
Q024 5
Q025 2

Diferente do caso numerico, além de selecionar apenas as colunas com valores unicos, também vou escolher as que contenham muitos valores diferentes.

=> As colunas 'TX_GABARITO_CN, TX_GABARITO_CH, TX_GABARITO_LC, TX_GABARITO_MT' também foram deletadas, pois não apresentam interesse para tal analise.

In [5]:
colunas_drop = ['NO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_ESC', 'NO_MUNICIPIO_PROVA',
                 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT',
                 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT', 'SG_UF_PROVA']

In [6]:
base_object.drop(columns = colunas_drop, # Removendo as colunas da lista 'colunas_drop'
                 inplace=True            # Salvando as alterações feitas 
                 )
base_object

,SG_UF_RESIDENCIA,TP_SEXO,SG_UF_NASCIMENTO,SG_UF_ESC,Q001,Q002,Q003,Q004,Q006,Q007,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,MG,F,MG,NaN,E,E,C,C,G,A,...,B,A,A,B,A,A,C,B,B,B
1,MG,F,MG,MG,E,E,C,C,B,A,...,A,A,A,B,A,A,B,A,A,A
2,MG,M,NaN,NaN,H,H,F,F,B,A,...,A,A,A,B,A,B,C,A,A,A
3,MG,F,MG,NaN,E,C,C,B,G,A,...,B,A,B,C,B,A,E,A,B,B
4,MG,F,MG,NaN,B,B,C,B,C,A,...,B,A,A,B,B,A,C,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534622,MG,M,MG,NaN,C,F,B,D,H,A,...,B,A,A,C,A,B,D,A,B,B
534623,MG,F,MG,NaN,E,G,D,E,D,A,...,A,A,B,B,B,B,C,B,B,B
534624,MG,M,MG,NaN,F,E,D,B,G,A,...,B,A,B,C,B,B,C,B,B,B
534625,MG,F,MG,MG,H,H,F,B,B,A,...,A,A,A,B,A,A,B,A,A,A
534626,MG,F,MG,NaN,B,E,B,B,A,A,...,A,A,A,B,A,A,B,A,A,A

Agora vamos analisar os dados faltantes.

In [7]:
base_object.isnull().sum().sort_values(ascending=False).head(10)

SG_UF_ESC           427013
SG_UF_NASCIMENTO     15985
SG_UF_RESIDENCIA         0
Q013                     0
Q024                     0
Q023                     0
Q022                     0
Q021                     0
Q020                     0
Q019                     0
dtype: int64

In [8]:
len(base_object) # Total de linhas do dataset

534627

As colunas 'SG_UF_ESC' e 'SG_UF_NASCIMENTO' se destacam como sendo as unicas com valores faltantes, esses valores que correspondem de forma significativa ao total de dados, assim sendo vou removelos.

In [9]:
'''A função columns_null retorna uma lista com as n colunas com mais valores ausentes do datset escolhido'''
missing_values_columns = columns_null(base_object,
                                      n=2)
missing_values_columns

['SG_UF_ESC', 'SG_UF_NASCIMENTO']

In [10]:
base.drop(columns=missing_values_columns, # Removendo as colunas da lista 'missing_values_columns'
          inplace=True                    # Salvando as alterações feitas 
          )
base

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,1,...,B,A,A,B,A,A,C,B,B,B
1,190001237803,2019,3170206,Uberlândia,31,MG,30.0,F,1,2,...,A,A,A,B,A,A,B,A,A,A
2,190001237804,2019,3124104,Esmeraldas,31,MG,27.0,M,1,3,...,A,A,A,B,A,B,C,A,A,A
3,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,22.0,F,1,1,...,B,A,B,C,B,A,E,A,B,B
4,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,23.0,F,1,4,...,B,A,A,B,B,A,C,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534622,190005766803,2019,3171204,Vespasiano,31,MG,23.0,M,1,2,...,B,A,A,C,A,B,D,A,B,B
534623,190005766804,2019,3170206,Uberlândia,31,MG,28.0,F,2,1,...,A,A,B,B,B,B,C,B,B,B
534624,190005766805,2019,3162500,São João del Rei,31,MG,20.0,M,1,4,...,B,A,B,C,B,B,C,B,B,B
534625,190005766806,2019,3158201,Santa Maria do Suaçuí,31,MG,18.0,F,1,3,...,A,A,A,B,A,A,B,A,A,A
534626,190005766807,2019,3171303,Viçosa,31,MG,29.0,F,1,3,...,A,A,A,B,A,A,B,A,A,A

In [11]:
base.head(10)

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,1,...,B,A,A,B,A,A,C,B,B,B
1,190001237803,2019,3170206,Uberlândia,31,MG,30.0,F,1,2,...,A,A,A,B,A,A,B,A,A,A
2,190001237804,2019,3124104,Esmeraldas,31,MG,27.0,M,1,3,...,A,A,A,B,A,B,C,A,A,A
3,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,22.0,F,1,1,...,B,A,B,C,B,A,E,A,B,B
4,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,23.0,F,1,4,...,B,A,A,B,B,A,C,A,B,B
5,190001237807,2019,3104007,Araxá,31,MG,19.0,M,1,1,...,B,A,A,B,A,A,D,A,B,B
6,190001237808,2019,3143302,Montes Claros,31,MG,35.0,M,2,3,...,B,A,A,B,B,B,C,A,B,B
7,190001237809,2019,3157005,Salinas,31,MG,20.0,M,1,3,...,A,A,A,B,A,A,E,A,B,B
8,190001237810,2019,3106200,Belo Horizonte,31,MG,31.0,F,2,0,...,B,A,B,B,A,A,C,A,B,B
9,190001237811,2019,3162104,São Gotardo,31,MG,17.0,F,1,2,...,B,A,A,B,B,A,C,A,B,B

Como forma alternativa de trabalhar com variaveis categoricas, vou usar o metodo 'get_dummies' que faz a converção de variaveis categoricas em indicadores.

In [12]:
base_object = pd.get_dummies(data=base_object)
base_object

,SG_UF_RESIDENCIA_AC,SG_UF_RESIDENCIA_AL,SG_UF_RESIDENCIA_AM,SG_UF_RESIDENCIA_BA,SG_UF_RESIDENCIA_CE,SG_UF_RESIDENCIA_DF,SG_UF_RESIDENCIA_ES,SG_UF_RESIDENCIA_GO,SG_UF_RESIDENCIA_MA,SG_UF_RESIDENCIA_MG,...,Q022_E,Q023_A,Q023_B,Q024_A,Q024_B,Q024_C,Q024_D,Q024_E,Q025_A,Q025_B
0,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,1,...,1,1,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534622,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
534623,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,1
534624,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,1
534625,0,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,1,0
534626,0,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,1,0

In [13]:
base_object.insert(0, 'NU_INSCRICAO',                # Add a coluna 'NU_INSCRICAO', 
                   base['NU_INSCRICAO'].to_list(),   # sera usada como chave para a união dos dados no arquivo 'base_analise'
                   True
                   )
base_object

,NU_INSCRICAO,SG_UF_RESIDENCIA_AC,SG_UF_RESIDENCIA_AL,SG_UF_RESIDENCIA_AM,SG_UF_RESIDENCIA_BA,SG_UF_RESIDENCIA_CE,SG_UF_RESIDENCIA_DF,SG_UF_RESIDENCIA_ES,SG_UF_RESIDENCIA_GO,SG_UF_RESIDENCIA_MA,...,Q022_E,Q023_A,Q023_B,Q024_A,Q024_B,Q024_C,Q024_D,Q024_E,Q025_A,Q025_B
0,190001237802,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,190001237803,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,190001237804,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
3,190001237805,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,1
4,190001237806,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534622,190005766803,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
534623,190005766804,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
534624,190005766805,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
534625,190005766806,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
534626,190005766807,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

# Salvando os dados e encerrando esse parte da análise.

In [14]:
base_object.to_csv('data_object.csv',
                   index=False)